<%= form_for(@artist_movie) do |f| %>
  <% if @artist_movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@artist_movie.errors.count, "error") %> prohibited this artist_movie from being saved:</h2>

      <ul>
      <% @artist_movie.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :artist_id %><br>
    <%= f.number_field :artist_id %>
  </div>
  <div class="field">
    <%= f.label :movie_id %><br>
    <%= f.number_field :movie_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
