<%= form_for(@omdb_director) do |f| %>
  <% if @omdb_director.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@omdb_director.errors.count, "error") %> prohibited this omdb_director from being saved:</h2>

      <ul>
      <% @omdb_director.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :director_id %><br>
    <%= f.number_field :director_id %>
  </div>
  <div class="field">
    <%= f.label :omdb_movie_id %><br>
    <%= f.number_field :omdb_movie_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
